<div class="container mt-5 cart-container">
    <h1 class="cart-header">Your Cart</h1>
    <ul class="list-group cart-list">
        <% if (cart.length > 0) { %> <% cart.forEach(function(item) { %>
        <li class="list-group-item cart-item">
            <div class="item-details">
                <img src="<%= item.coverImage %>" alt="<%= item.name %>" />
                <div class="item-info">
                    <h4 class="item-name"><%= item.name %></h4>
                    <p class="item-price">$<%= item.price.toFixed(2) %></p>
                </div>
                <button class="remove-item">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </li>
        <% }) %> <% } else { %>
        <li class="list-group-item cart-item">Your cart is empty</li>
        <% } %>
    </ul>
    <% if (cart.length > 0) { %>
    <div class="cart-total">
        <span>Total:</span>
        <span
            >$<%= cart.reduce((total, item) => total + item.price, 0).toFixed(2)
            %></span
        >
    </div>
    <button class="cart-checkout">
        <i class="bi bi-credit-card"></i>
        Proceed to Checkout
    </button>
    <% } %>
</div>
