<div class="game-description-container">
    <div
        class="game-header"
        style="background-image: url('<%= game.backgroundImage %>')"
    >
        <img
            src="<%= game.coverImage %>"
            alt="<%= game.title %> Cover"
            class="game-cover-image"
        />
    </div>
    <div class="game-details">
        <h1 class="game-title"><%= game.title %></h1>
        <p class="release-date">Release Date: <%= game.releaseDate %></p>
        <h2 class="price">$<%= game.price.toFixed(2) %></h2>
        <p class="game-description"><%= game.description %></p>
        <button class="btn btn-primary add-to-cart">
            <i class="bi bi-cart"></i> Add to Cart
        </button>
    </div>
</div>
